<h1>Stap 1: Persoon</h1>


<form role="form" name="personForm" novalidate ng-submit="save()">

  <div class="form-group">
    <label for="voornaam">Voornaam</label>
    <input type="text" class="form-control" id="voornaam" name="voornaam" ng-maxlength="60" ng-model="person.firstName" ng-required="true">

    <ng-messages for="personForm.voornaam.$error" ng-if="personForm.$submitted" ng-messages-include="messages/messages.html"></ng-messages>
  </div>

  <div class="form-group">
    <label for="achternaam">Achternaam</label>
    <input type="text" class="form-control" id="achternaam" name="achternaam" ng-maxlength="60"
           ng-model="person.lastName" ng-required="true">

    <ng-messages for="personForm.achternaam.$error" ng-if="personForm.$submitted" ng-messages-include="messages/messages.html"></ng-messages>
  </div>

  <button type="submit" class="btn btn-default">Volgende</button>


</form>
